#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  background: blue;
  max-width: 350px;
  min-width: 350px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  margin: 0 0 5px;
  padding: 15px 0;
  background: chocolate;
  color: whitesmoke;
  cursor: pointer;
}

.dragging {
  background: red;
}
